html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #000;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width:auto;
}
ol, ul {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*generic rules for elements throughout doc*/
.btn{
	background-color: rgb(255, 166, 0);
	border: rgb(255, 166, 0);
	padding: .5rem;
	border-radius: 2px;
	color: #fff;
}

.btn a{
	color: #fff;
}
.section-description-text{
	color:rgb(255, 166, 0);
}

/*Heading fonts*/
h1, h2 {
	font-family: 'Yeseva One', cursive;
}

h1{
	font-size: 4rem;
	padding-right:15%;
	padding-bottom: 1.5rem;
	padding-top: 10%;
	width: 45%;
}

h2{
	font-size:2.5rem;
}
/*Nav setup*/
nav {
	width: 100%;
	min-height: 5%;
	margin-bottom: 1rem;
	padding: .5rem;
}
nav * {
	display: inline;
}

nav ul{
	float:right;
	width: 35%;
}
.nav-item{
	float:left;
	padding-right: 6%;
}

/*Main background image setting*/
.main-background{
	background-image: url(../source/main-background.jpg);
	background-size: 100%;
	aspect-ratio: 16/9;
	background-repeat: no-repeat;
}

/*form and link elements of main section*/

.social-media-links{
	display:inline-block;
	width: 100%;
}
.social-media-links li{
	display: inline-block;
	padding: 1rem 2.5rem 0 0;
}

i {
	color: rgb(255, 166, 0);
	font-size: 1.1rem;
} 
.main-section{
	width: 100%;
	padding: 5%;
}

.form-main {
	display: inline;
}

.form-main * {
	height: 2rem;
}

.search-form{
	width: 30%;
	padding: .5rem;
	float:left;
	border: .5px solid rgba(183, 182, 182, 0.388);
	border-radius: 3% 0 0 3%;
}

.location-button{
	padding: .5rem;
	float:left;
	border: .5px solid rgba(183, 182, 182, 0.388);
	border-radius: 0 3% 3% 0;
}

.fa-caret-down{
	color: white;
}

.about-section{
	background-image: url(../source/about-us-1.jpg), url(../source/about-us-2.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: -30% center, 100% bottom;
	background-size: 50%, 25%;
	background-color: rgba(228, 230, 229, 0.437);
	width: 100%;
	padding: 5%;
	text-align:left;
	clear:both;
	z-index: 1;

}

.about-section *{
	opacity: 1;
}
.about-section h2{
	position: relative;
	left: 32%;
	padding-bottom: 1.5rem;
	width: 50%;
}

.about-section span{
	position: relative;
	left: 32%;
	padding-bottom: 1.5rem;
	width: 50%;
}

.about-section p{
	position: relative;
	left: 32%;
	padding-bottom: 1.5rem;
	width: 50%;
	line-height: 130%;
}

.about-section .btn{
	position: relative;
	left: 32%;
}


/*section 3*/ 

.speciality-section {
	text-align: center;
	padding: 2rem;
	background-color: rgba(241	245	246);
	background-size:cover;
}

.speciality-section *{
	padding:.4rem;
}

.speciality-list li{
	display: inline-block;
	border-bottom: 1px solid rgba(195, 195, 195, 0.85);
	padding-bottom: 1rem;
}

.speciality-photos-block{
	width: 80%;
	margin: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.speciality-photo{
	width: 23%;
	aspect-ratio: 1/1.3;
	float: left;
}

.speciality-section{
	overflow:hidden;
}

/*restaurant info/details section*/

.address-details-section{
	background-image: url(../source/restaurant-info-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 2.5rem;
}

.address-details-section h2{
	padding: 1rem 0 2rem 0;
}

.fa-mobile-screen-button{
	padding-bottom: 1rem;
	font-size: 2rem;
}

.restaurant-number{
	display:inline-block;
	color:rgb(255, 166, 0);
	font-size: 1.4rem;
	padding: 1rem 0rem;
	clear:both;
}

.restaurant-times{
	display: inline-block;
	margin: auto;
	width: 70%;
}

.restaurant-times-left{
	float: left;
	width: 25%;
	padding: 1rem;
}

.restaurant-times-right{
	float:right;
	width: 23%;
	padding: 1rem;
}

.restaurant-days {
	display: inline-block;
	width: 70%;
	margin-bottom: 1rem;
}

.open-times{
	display: inline-block;
	font-weight: 700;
	font-size: 1.3rem;
	clear: both;
}

.restaurant-video{
	position: relative;
	width: 48%;
	margin: auto;
	margin-bottom: 3rem;
}

.video-place-holder img{
	display: block;
}

.restaurant-video .fa-circle-play{
	font-size: 4rem;
	position: absolute;
	left: 18.5rem;
	bottom: 11rem;
}

@media screen and (max-width:900px) {
	.restaurant-video img{
		width: 300px;
	}
	.restaurant-video .fa-circle-play{
		font-size: 2rem;
		position: absolute;
		left: 8rem;
		bottom:5rem;
	}
}
/*Testimonial section*/

.testimonial-section{
	margin-top: 2rem;
	text-align: center;
	background-image: url(../source/quotations.png);
	background-repeat: no-repeat;
	background-position: center;
}

.testimonial-section h2{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.testimonial-pic{
	margin: auto;
	display: block;
	border-radius: 50%;
}

.testimonial-name{
	font-weight: 700;
	display: block;
	margin: .5rem;
}

.testimonial-occupation{
	font-weight:300;
}

.testimonial-section blockquote {
	padding: 2rem 1.5rem 2rem 1.5rem;
	width: 70%;
	margin: auto;
	font-weight:300;
	font-style: italic;
}