/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-height: 25rem;
}

input:focus{
  outline: none;
}

input::placeholder{
  color: rgb(137, 135, 135);
}

.warning::placeholder{
  color: red;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
