html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}

/*setting up the toggle buttons*/
.player-selection{
	display: flex;
	flex-flow: column nowrap;
	text-align: justify;
	justify-content: flex-end;
	padding: 1rem;
}

.player-selector{
	padding:.54rem;
	position: relative;
	display: inline-block;
}
.player-selector input{
	opacity: 0;
	width: 0;
	height: 0;
}
/*Slider style*/
.slider{
	position: absolute;
	cursor: pointer;
	top: .2rem;
	bottom: 0;
	left: 6rem;
	right: 0;
	height: 1.5rem;
	background-color: #ccc;
	transition: .2s;
	width: 3.1rem;

}
.slider:before {
	position: absolute;
	content: "";
	height: 1.3rem;
	width: 1.3rem;
	top: 1px;
	left: 1px;
	bottom: -3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  input:checked + .slider {
	background-color: #2196F3;
  }
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(1.55rem);
	-ms-transform: translateX(1.55rem);
	transform: translateX(1.55rem);
  }
  .slider {
	border-radius: 34px;
  }
  
  .slider:before {
	border-radius: 50%;
  }


.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    max-width: 700px;
    padding: .5rem;
    margin: 1rem auto;

}

.square{
    border: 1px solid rgba(27, 94, 149, 0.668);
	border-radius: 4px;
	height: 8rem;
    padding: 3rem;
    text-align: center;
	background-image: linear-gradient(to right bottom, rgb(55, 133, 217),rgb(62, 161, 110)70%);
	color: #FFF;
	font-size: 1.4rem;
}