html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
  list-style-type: none;
  font-family: sans-serif, Helvetica
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  padding: 2rem;
  background-color: rgba(212, 160, 169, 0.639)
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}


h1 {
  text-align: center;
  font-size: 3rem;
}

.mood-list {
  display: flex;
  margin-top: 3rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.mood-list *{
  text-align: center;
  border: 1px solid rgba(122, 43, 196, 0.564);
  background-color: rgba(122, 43, 196, 0.564);
  padding: 2rem;
  margin: 1rem;
  flex-basis: 15%;
}

.panic{
  color: #fff;
  background-image: url('../img/panic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 25%;
}

.sad{
  color: #fff;
  background-image: URL('../img/sad.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 0 20%;
}

.peace {
  color: #fff;
  background-image: URL('../img/peace.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.happy{
  color: #fff;
  background-image: URL('../img/smile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 20%;
}